<ul>
  <li class="text" *ngFor="let product of products$ | async">
    <div *ngFor="let item of product | keyvalue">
      <b>{{item.key}}:</b> {{item.value}}
    </div>
    <br>
    <div *ngIf="(product.category$ | async) as category">
      <b>Category:</b> {{category | json}}
    </div>
    <br>
    <span>
      <b>Tags:</b>
    </span>
    <div *ngFor="let tag of product.tags$ | async">
      {{tag | json}}
    </div>
    <button (click)="updateProduct(product)">Update Product</button>
    <button (click)="deleteProduct(product.id)">Delete Product</button>
  </li>

  <button (click)="insertProduct()">Create Product</button>
  <br>

</ul>
