<ul>
  <li class="text" *ngFor="let product of products$ | async">
    <div *ngFor="let item of product | keyvalue">
      <b>{{item.key}}:</b> {{item.value}}
    </div>
    <br>
    <div *ngIf="(product.category$ | async) as category">
      <b>Category:</b> {{category | json}}
    </div>
    <br>
    <span>
      <b>Tags:</b>
    </span>
    <div *ngFor="let tag of product.tags$ | async">
      {{tag | json}}
    </div>
    <button (click)="updateProduct(product)">Update Product</button>
    <button (click)="deleteProduct(product.id)">Delete Product</button>
  </li>

  <button (click)="insertProduct()">Create Product</button>
  <br>
  <button (click)="signInWithEmail()">sign In With Email</button>
  <br>
  <button (click)="doFacebookLogin()">sign In With FB</button>
  <br>
  <button (click)="doGoogleLogin()">sign In With Google</button>
  <br>
  <button (click)="doTwitterLogin()">sign In With Twitter</button>
  <br>
  <button (click)="signUpWithEmail()">Sign Up With Email</button>
  <button (click)="signOut()">Log Out</button>
  <br>
  <br>
  <br>
  <div *ngIf="loggedUser">
    <h2>Hello {{loggedUser.displayName}}</h2>
    <!-- <img [src]="loggedUser.image"/> -->
  </div>
  <div *ngIf="!loggedUser">
    <h2>There is no logged user</h2>
  </div>

  <p>You need to be logged in to upload an image</p>
  <input type="file" (change)="uploadFile($event)" />
   <div>{{ uploadPercent | async }}</div>
   <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
</ul>
